/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/norwester');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/avatar.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
  margin: 0 auto;
  padding: 10px;
  background-color: #4BAEE3;
}

.view-height {
  height: 40vh;
}

