.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: #FCAD85;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
  font-family: Norwester;
}

.banner p {
  font-size: 20px;
  font-family: Josefin Sans;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.slide {
  text-align: center;
  font-family: Norwester;
}

#header {
  color: white;
  font-size: 80px;
  text-decoration: underline;
  text-align: center;
  font-family: Norwester;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#solution h2 {
  font-size: 50px;
}

.slide h2 {
  color: #FCAD85;
  font-size: 70px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: Norwester;
}

#target {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
}

.target-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 28vw;
  font-size: 80px;
  color: #FCAD85;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.target-card h2 {
  font-size: 40px;
}

#city {
  border: none;
  font-family: Josefin Sans;
  font-size: 30px;
  opacity: 0.7;
  flex-grow: 1;
}

.gradient-overlay {
  background-image: linear-gradient(0deg, #4BAEE3, transparent);
}
