.btn-ghost {
  color: white;
  border: 3px solid #FB8C53;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  transition: transform 200ms ease-out;
  background-color: #FB8C53;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-ghost:hover {
  transform: scale(1.1);
}

.buttons-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  width: 60vw;
  margin: 0 auto;
  font-size: 30px;
  padding-bottom: 50px;
}

.btn-hidden:hover {
  transform: scale(1.1);
}

.symbols-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 150px;
  width: 60vw;
  margin: 0 auto;
  font-size: 60px;
  color: #FB8C53;
}

#symbol-hidden {
  transition: opacity 0.3s ease;
  opacity: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-hidden {
  color: white;
  border: 3px solid #FB8C53;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  background-color: #FB8C53;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 0;
  transition: transform 200ms ease-out;
}

.fade-in {
    animation-name: opacityOn;
    animation-duration: 700ms;
    animation-delay: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
