.card-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 40px;
  padding: 1.5rem;
  border-style: none;
  border-width: 1px;
  border-color: rgba(229, 229, 239, 0.6);
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 25px 40px 0 rgba(0, 0, 0, 0.1);
}

.card-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 20px;
  padding: 1.5rem;
  border-style: solid;
  border-width: 0.2px;
  border-color: #e5e5ef;
  border-radius: 0.5rem;
  background-color: #fff;
  text-align: center;
  color: #4BAEE3;
  font-size: 30px;
}

.card-input:hover {
  border-color: #FCAD85;
  transition: 0.8s ease;
}

.card-input p {
  flex-grow: 1;
  text-decoration: none;
  font-family: Josefin Sans;
  font-weight: lighter;
  color: #979797;
  opacity: 0.6 ;
  text-shadow: none;

}

.card-calendar {
  color: #4BAEE3;
  padding-left: 20px;
  font-size: 30px;
}

.card-results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.card-photographer {
  background-color: #FCAD85;
  border-radius: 10px;
  height: 230px;
  width: 180px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 200ms ease-out;
}
.card-photographer:hover {
  transform: scale(1.1);
}

.card-photographer h1 {
  color: #47525E;
  font-family: Norwester;
  font-size: 20px;
  padding: 5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-photographer p {
  font-family: Josefin Sans;
  font-size: 16px;
  color: #8190A5;
  padding: 5px;
}
